[package]
authors = ["Inflation <hypernovagama@gmail.com>"]
description = "Safe Rust wrapper for JPEG XL reference implementation"
edition = "2018"
exclude = ["test/"]
license = "GPL-3.0-or-later"
name = "jpegxl-rs"
readme = "README.md"
repository = "https://github.com/inflation/jpegxl-rs"
version = "0.2.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["jpegxl-sys/default", "with-image"]
docsrs = ["jpegxl-sys/docsrs"]
with-image = ["image"]
without-build = ["jpegxl-sys"]
without-threads = ["jpegxl-sys/without-threads"]

[dependencies]
image = {version = "0.23.12", optional = true}
jpegxl-sys = {version = "0.2", default-features = false, optional = true, path = "../jpegxl-sys"}
num_cpus = "1.13.0"

[dev-dependencies]
criterion = "0.3"
image = "0.23.12"

[package.metadata.docs.rs]
features = ["docsrs", "with-image"]
no-default-features = true

[lib]
bench = false

[[bench]]
harness = false
name = "decode"
