[package]
authors = ["Inflation <hypernovagama@gmail.com>"]
categories = ["external-ffi-bindings", "encoding", "multimedia::images"]
description = "Rust wrapper for JPEG XL reference implementation"
edition = "2021"
keywords = ["jpeg-xl", "jxl"]
license = "GPL-3.0-or-later"
links = "jxl"
name = "jpegxl-sys"
readme = "README.md"
repository = "https://github.com/inflation/jpegxl-rs"
version = "0.7.0-alpha.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[package.metadata.docs.rs]
features = ["docs"]

[build-dependencies]
pkg-config = "0.3.25"

[build-dependencies.jpegxl-src]
version = "0.7.0-rc.0"
path = "../jpegxl-src"
optional = true

[dev-dependencies]
image = { version = "0.24.2", default-features = false, features = ["png"] }

[features]
default = ["threads"]
vendored = ["jpegxl-src"]
threads = []
docs = []
