[package]
authors = ["Inflation <me@shimotsuki.ink>"]
categories = ["api-bindings", "encoding", "multimedia::images"]
description = "Safe Rust wrapper for JPEG XL reference implementation"
edition = "2021"
keywords = ["jpeg-xl", "jxl"]
license = "GPL-3.0-or-later"
name = "jpegxl-rs"
readme = "README.md"
repository = "https://github.com/inflation/jpegxl-rs"
version = "0.10.3+libjxl-0.10.2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lints.rust]
missing_docs = "warn"

[lints.clippy]
pedantic = "warn"

[features]
default = ["image", "threads"]
image = ["dep:image"]
threads = ["jpegxl-sys/threads"]
vendored = ["jpegxl-sys/vendored"]
docs = ["jpegxl-sys/docs"]
bench = []

[dependencies]
derive_builder = "0.20.0"
image = { version = "0.25.0", optional = true, default-features = false }
thiserror = "1.0.58"
half = "2.4.0"
byteorder = "1.5.0"

[dependencies.jpegxl-sys]
version = "0.10.3"
path = "../jpegxl-sys"

[dev-dependencies]
image = { version = "0.25.0", default-features = false, features = [
    "jpeg",
    "png",
] }
kamadak-exif = "0.5.5"
lcms2 = "6.1.0"
pretty_assertions = "1.4.0"
testresult = "0.4.0"

[target.'cfg(not(target_family = "wasm"))'.dev-dependencies]
criterion = "0.5.1"


[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]
features = ["docs"]

[lib]
bench = false
path = "src/lib.rs"

[[bench]]
harness = false
name = "decode"
required-features = ["bench"]

[[bench]]
harness = false
name = "encode"
required-features = ["bench"]
